@using OpenAQ;

@model List<MeasurementsDTO>
<div>
    <table id="gridView" class="table table-bordered">
        <thead>
            <tr>
                <th>Location</th>
                <th>Parameter</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Utc</th>
                <th>Local</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<th scope="row">@item.Id</th>*@
                    <td>@item.location</td>
                    <td>@item.parameter</td>
                    <td>@item.value</td>
                    <td>@item.unit</td>
                    <td>@item.utc</td>
                    <td>@item.local</td>
                    <td>@item.latitude</td>
                    <td>@item.longitude</td>
                    <td>
                        @*<a data-value="@item.Id"
                           href="javascript:void(0)" class="btnEdit">Edit</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>